@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NumberFacts</h1>
    <h3>This is my first application usig C#</h3></br>
</div>
<div class="start-page">

    <p class="presentation">Find out an interesting fact of what the numers can hide</p><br />
</div>
<div class="start-button-div">
    <a class="start-button" asp-area="" asp-controller="Home" asp-action="SelectThemes">Start</a>
</div>
<style type="text/css">
        .start-page {
            align-content: center;
        }
        .presentation {
            text-align: center;
        }
    .start-button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #4CAF50;
    }

    .start-button-div {
        align-content: center;
        text-align: center;
    }
</style>
